.card { 
  &__wrapper {
    border-radius: 0.4rem;
    &:hover {
      box-shadow: 0 0 4px rgba(0,0,0,0.4);
      @media (prefers-color-scheme: $theme-toggle) {
        box-shadow: 0 0 4px rgba(255,255,255,0.8);
      }
    }
  }
}
