@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #fff;
  color: #222;

  @media (prefers-color-scheme: $theme-toggle) {
    background-color: #222;
    color: #fff;
  }
}
